<html>
  <head>
  <%- partial('_partial/head') %>
  </head>
  <body>
    <div class="row"> 
      <%- partial('_partial/menu') %>
      <div class="col s12">
        <div class="row grid-iron">
          <div class="col offset-s3 s9">
          <%- partial('_partial/header') %>
          </div>
        </div>

        
        <div class="container">
          <!-- content -->
          <div class ="row">
          <%- body %>
          </div>
          <!--footer-->
          <div class ="row">
          <%- partial('_partial/footer') %>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>